<div class="uk-cover-container uk-height-large">
    <img src="https://cdn-images-1.medium.com/max/2000/1*6PAmNtyNDKSFRdCoyg8g5g.jpeg" alt="" uk-cover>
</div>
<section class="portada uk-container">


    {{#if photoURL}}
        <img uk-tooltip="Cambiar Foto de perfil" class="profilePic" src="{{photoURL}}" alt="">
    {{else}}
        <img uk-tooltip="Cambiar Foto de perfil" class="profilePic" src="https://cdn-images-1.medium.com/max/184/1*2GDcaeYIx_bQAZLxWM4PsQ@2x.png" alt="">
    {{/if}}


    <br>
    <br>
    <br>
<h2 style="text-align:center">
    Hola 
    <span class="uk-margin-small-right" uk-icon="heart"></span>
    {{app.name}} {{app.surName}}

    {{#if admin}}
    <a href="/admin" class="uk-button uk-button-secondary">
	    Admin
    </a>
    {{/if}}

</h2>
<hr class="uk-divider-icon">
</section>

{{#if selectedCourse}}
 
<div class="uk-section uk-section-secondary uk-light" href="#modal-overflow" uk-toggle>
    <div class="uk-container">

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div class="si-bootcamp">
                <h3 class="uk-heading-line uk-text-center">
                    <span>
                        {{selectedCourse.kind}} * {{selectedCourse.type}}
                    </span>    
                </h3>
                <h4 class="uk-heading-line uk-text-center">
                    <span uk-tooltip="{{fromNow selectedCourse}}">
                        {{date selectedCourse}}
                    </span>    
                </h4>
                <h5 class="uk-heading-line uk-text-center">
                    <span style="color:{{color}}">
                        {{estado}}
                    </span>    
                </h5>
            </div>
        </div>

    </div>
</div>




{{!-- make modal --}}



<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">¡Felicidades tu lugar está asignado!</h2>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>

            {{#if status}}

            <h2>{{estado}}</h2>

            {{else}}

        <p style="Margin-top: 16px;Margin-bottom: 20px;">

            Ahora que sabes que es lo que quieres aprender y cuando, solo falta un paso para que tu lugar
            quede reservado.
            <br>
            Debes realizar un depósito o transferencia a la cuenta bancaria de Ironhack. Subir la foto de tu recibo bancario. Recuerda que el cupo
            en los grupos es <strong>limitado</strong>. ¡Apresurate!
            <br>
            <br>
            <u>DATOS BANCARIOS:</u>
            <br>
            <br>
            IRONHACK MEXICO SC
            <br>
            <strong>Clave Interbancaria (para transferencia electrónica):</strong>
            <br>
            014180655064530602
            <br>
            <strong>Clave Santander (para depositos en ventanilla):</strong>
            <br>
            65506453060
            <br>
            <strong>SWIFT (para transferencias internacionales):</strong>
            <br>
            BMSXMXMMXXX
        </p>

            <p>
                Toma una foto de tu recibo de pago o captura de pantalla y subelo aqui:
            </p>
            <form action="/reserva" method="post" enctype="multipart/form-data">
                <input name="file" accept="image/*" class="uk-input-file" type="file">
                <input class="uk-button uk-button-primary" type="submit">
            </form>

            <p>Nos comunicaremos contigo para confirmar tu lugar! =D</p>



            {{/if}}


        </div>

        {{!-- <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-secondary uk-modal-close" type="button">Cerrar</button>
        </div> --}}

    </div>
</div>








{{else}}

<a href="/select">
<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div class="no-bootcamp">
                <h4>¡Ahora selecciona el Bootcamp y tu fecha!</h4>
            </div>
        </div>

    </div>
</div>
</a>

{{/if}}






<form id="photoForm" action="/auth/profile" method="post" enctype="multipart/form-data">
    <input accept="image/*" id="photoURL" name="file" hidden type="file">
</form>





<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>

    $('.profilePic').click(function(){
        console.log('click')
        $('#photoURL').click();
    });   

    $('#photoURL').change(function(){

        $('#photoForm').submit();

    });


    {{#if selectedCourse}}
    var element = document.getElementById('modal-overflow');
    UIkit.modal(element).show();
    {{/if}}



</script>