<section class="uk-container">

<h2>Admin Panel</h2>

<a href="/admin/courses" class="uk-button uk-button-secondary">
	Cursos
</a>
<a href="/admin/users" class="uk-button uk-button-secondary">
	Usuarios
</a>
<a class="uk-button uk-button-primary" href="/admin/users" uk-toggle>Cancelar</a>

<br><br>

<div class="uk-overflow-auto uk-container" >
    <h3>Detalle de Usuario</h3>


    <article class="uk-comment uk-comment-primary">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            {{#if this.photoURL}}
            <img class="uk-comment-avatar" src="{{this.photoURL}}" width="80" height="80" alt="">
            {{else}}
            <img class="uk-comment-avatar" src="https://cdn-images-1.medium.com/max/184/1*2GDcaeYIx_bQAZLxWM4PsQ@2x.png" width="80" height="80" alt="">
            {{/if}}

        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{user.app.name}} {{user.app.surName}}</a></h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><a href="#">Score: <strong style="color:black">{{user.app.interview_score}}</strong> </a></li>
                <li><a href="mailto:{{user.email}}">
                        {{user.email}}
                    </a>
                </li>
                <li>
                    <span class="uk-text-danger">{{user.status}}</span>
                </li>
                <li>
                    <button class="uk-button uk-button-primary" onclick="confirmUser()" id="aproveUser">
	                    Aceptar Comprobante
                    </button>
                </li>
            </ul>
        </div>
    </header>
    <div class="uk-comment-body">

        {{#if hayLugar}}

            <p>Lugares disponibles: <span>No disponibles</span></p>

        {{else}}
            <p>Lugares Ocupados: {{user.selectedCourse.enrolled.length}}/{{user.selectedCourse.totalPlaces}}</p>

        {{/if}}


        <p>{{user.selectedCourse.kind}} {{user.selectedCourse.type}} => {{date user.selectedCourse.date}}</p>


    <h3 class="uk-margin-large-top">Comprobante de pago:</h3>
        <div uk-lightbox>
        <a class="uk-button uk-button-default" href="{{user.paymentPic}}">
            <img width="100" src="{{user.paymentPic}}" alt="">
        </a>
    </div>


    </div>
</article>

    <style>
        #aproveUser{
            color: #fff;
        }
        #aproveUser:disabled{
            background-color: transparent;
            color: #999;
            border-color: #e5e5e5;
        }
    </style>

<script>

    var result = {{{user.selectedCourse.totalPlaces}}} - {{{user.selectedCourse.enrolled.length}}}

    if( result <= 0) document.getElementById('aproveUser').disabled = true;

    function confirmUser(){
        window.location.replace("/admin/users/{{{user._id}}}/?accepted=true");
    }

</script>












</div>

</section>






<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

       

 




    </div>
</div>